<h1>Introduction to Python</h1>

<p>This is the first lesson in the context of Course HEC XX</p>

<h2>Basic Calculations in Python</h2>

<p>Computer code, at its most basic, calculates. You can think of this course and everything that follows as expanding the uses of a calculator, even the most basic. For instance:</p>

In [12]:
2+2

4

Typically, in Python you'd use the command "print" to have stuff appear on your screen. It is also more precise, as it gives the computer the exact command to process. 
For instance, if you add a line of computations above, Python will only render the last line - but if you insert two "print" statement, one after the other, both will render.
"print" is a <em>command</em>. Like most commands, it requires some <em>parameters</em>, that are indicated within brackets. Eg.

In [6]:
print(2+2)
print(2*3)

4
6

We will come back to commands a bit later. Before that, we need to discuss <em>variables</em>, which are objects in which you store information.
Variables are typically written in lower caps; the way to you assign data to a variable is with a "=" sign, as follows. You can then use variables directly in functions (such as print), or do operations between them.
What do you think will print if we press Run ?

In [13]:
my_var = 1
my_var2 = 2
my_var3 = 2*3
print(my_var + my_var2 + my_var3)

9

There are different types of numbers in Python, but we'll see that later.
Now, variables need not be numbers. They can also be text, which in Python is typically known as a <em>string</em>. 
Likewise, you can make operations with them, such as collating two strings.

In [11]:
text_var = "Hello World"
text_var2 = "What a Nice Day !"
print(text_var + text_var2)

Hello WorldWhat a Nice Day !

Do note that the print command does exactly what you ask it to do: it did not insert a space between the two strings here, it's for you to think of this kind of details.
Another type of variable is a <em>list</em>, which is exactly what you think it is: it lists things, such as data, or even other variables, or even other lists ! Lists are denoted by using brackets and commas. For instance:

In [16]:
my_list = [1, "lorem ipsum", text_var2, ["this is list number", 2]]
print(my_list)

[1, 'lorem ipsum', 'What a Nice Day !', ['this is list number', 2]]

A very important feature of lists is that they are ordered. This means if you know the (numerical) <em>index</em> of an item in a list, you can access it immediately. Here is how you do it (learn it once and for all: indexes start at 0).
You can also select an element of a list by reference to its relative position.
Finally, if you can select the item in a list of list by repeating the exercise.

In [18]:
print(my_list[2])
print(my_list[-2])
print(my_list[3][0])

What a Nice Day !
What a Nice Day !
this is list number

You can also select several elements in a list, by using the ":" operator. For instance

In [29]:
print(my_list[0:2])
print(my_list[2:])
print(my_list[:2])

[1, 'lorem ipsum']
['What a Nice Day !', ['this is list number', 2]]
[1, 'lorem ipsum']

You will note that the third example returns the exact same answer as the first; this is because you often don't need to specify the 0 in a list.

Another data type is what's called a boolean. It is simply a statement True or False, but it is often very useful.

In [46]:
var_bol = True
val_bol2 = False
print(var_bol)
print(var_bol2)

True

NameError: name 'var_bol2' is not defined

Finally, there are two other types of data: sets and dictionaries.
Sets are like lists, except they are unordered, and they can't have duplicates. They are very useful to check if two sets of data overlap, or what they have or don't have in common. Since they are not ordered, you cannot select an element from a set. If you create a set with a duplicate element, it will ignore it.

In [35]:
my_set = {1, 2, 2, 3, 3, 4}
print(my_set)

{1, 2, 3, 4}

A Dictionary is a type of data that links a <b>key</b> to a <b>value</b>. The key becomes the index of your dictionary; if you give a key to the dictionary, it will return the value. It is useful to track down relations between different data points. Here as well, you can use any type of data you want. You use brackets, and indicate the relationship with a ":" operator.

In [37]:
my_dic = {1 : "First Item", "Item": 2, "Item2" : my_list}
print(my_dic["Item"])

2

## Functions

Now, coming back to functions, they are what allows you to do operations over data and variables in Python. For this, you need to pass it the expected arguments. Here is what a function looks like, and how you create it:

In [19]:
def my_function(var1, var2):
    return var1 + var2
my_function(1,2)

3

You can create, and you will create your own functions. However, Python has already plenty of built-in functions, so that you don't have to invent the wheel everytime you need to do something.

In [38]:
print(len("How long is this sentence ?"))
print(list("this will be turned into a list"))
print(round(2.3))

27
['t', 'h', 'i', 's', ' ', 'w', 'i', 'l', 'l', ' ', 'b', 'e', ' ', 't', 'u', 'r', 'n', 'e', 'd', ' ', 'i', 'n', 't', 'o', ' ', 'a', ' ', 'l', 'i', 's', 't']
2

In addition, Python is a shared resources, and for most uses someone has already created a function for you, such that you just need to import it. This is the system of packages and librairies that power Python. Here are the two main ways to do it:

In [40]:
import numpy
from collections import Counter, defaultdict

The first package here is specialised in numbers and mathematical operations; it typically goes further than the basic Python functions. For instance, if you want to compute a mean:

In [41]:
numpy.mean([1, 5, 10, 15])

7.75

Counter and Defaultdict are two tools invented to fulfill a number of usages. A counter will count (duh), which is very important in some contexts. A defaultdict is a dictionary that can better accomodate keys that are not yet there - which avoids throwing errors. This often comes handy.

## Syntax

Finally, some basics notions of syntaxes. You write code as you would write anything: sequentially. This means you first define your variables or your functions before using it, or Python won't be able to know what you mean.

An important first concept is the loop, which tells Python to do something as long as a condition is not fulfilled. The typical condition is to go over (the term is "iterate") a number of elements, for instance in a list.

In [42]:
for el in my_list:
    print(el)

1
lorem ipsum
What a Nice Day !
['this is list number', 2]

You will note that for your loop to work, the second level of command needs to be shifted to the right.

The second important syntax element, and really the basic building block of so much code that runs your daily life, is the if/else statement. It simply asks if a condition is met, and then accomplish the resulting code.

In [48]:
words = ["move", "slowly", "and", "fix", "things"] 
for word in words: 
    if "i" in word : 
        print (word)
    else:
        print ("No 'i' in that word")

No 'i' in that word
No 'i' in that word
No 'i' in that word
fix
things

## Dataframes

A dataframe is a way to structurate data in Python, like an spreadsheet. There are several types of dataframes in Python, but by far the most popular is the Pandas module, which you typically abbreviate as "pd".
Pandas allows you to load a pre-existing dataset. While there are several ways to store data, in this course we'll mostly handle CSV files, which are easy to work with.

In [43]:
import pandas as pd
df = pd.read_csv("DeathCOVID19.csv", encoding="latin1")

C:\Users\damie\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3051: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

A good idea when you handle a new dataset is to look at what it looks like. The command "head" allows you to get a quick peek at the data (up to a number of rows).

In [44]:
df.head(15)

,COMDOM,DEPDOM,ANAIS,MNAIS,JNAIS,SEXE,ADEC,MDEC,JDEC,COMDEC,DEPDEC,lieudec2,paynais,regdec,REGDOM
0,NaN,99.0,1987,11,28,1,2020,1,17,13205.0,13.0,HopCli,350,PACA,Autres
1,NaN,99.0,1986,6,4,1,2020,2,17,75115.0,75.0,HopCli,122,Ile-de-France,Autres
2,NaN,99.0,1958,2,13,1,2020,3,22,92024.0,92.0,HopCli,316,Ile-de-France,Autres
3,NaN,99.0,1933,10,31,2,2020,1,19,95203.0,95.0,HopCli,139,Ile-de-France,Autres
4,NaN,99.0,1972,9,8,1,2020,1,28,6079.0,6.0,Autres,123,PACA,Autres
5,NaN,99.0,2004,6,16,2,2020,3,24,92060.0,92.0,Autres,352,Ile-de-France,Autres
6,NaN,99.0,1933,12,19,2,2020,1,25,97411.0,974.0,HopCli,333,La Réunion,Autres
7,NaN,99.0,1976,4,3,2,2020,2,28,59392.0,59.0,HopCli,131,Hauts-de-France,Autres
8,NaN,99.0,1984,1,24,1,2020,2,1,56162.0,56.0,Autres,125,Bretagne,Autres
9,NaN,99.0,1940,12,23,2,2020,3,18,40279.0,40.0,Autres,134,Nouvelle Aquitaine,Autres
10,NaN,99.0,1980,5,17,2,2020,1,8,31555.0,31.0,HopCli,114,Occitanie,Autres
11,NaN,99.0,1940,2,19,1,2020,1,22,67482.0,67.0,HopCli,109,Grand-Est,Autres
12,NaN,99.0,1937,10,5,1,2020,1,22,66136.0,66.0,Autres,404,Occitanie,Autres
13,NaN,99.0,1963,5,31,2,2020,2,2,38516.0,38.0,HopCli,255,Auvergne-Rhône Alpe,Autres
14,NaN,99.0,1935,2,19,2,2020,2,9,13047.0,13.0,Logem,139,PACA,Autres