<h1>Introduction to Python</h1>

<p>This is the first lesson in the context of Course HEC XX</p>

<p>This introduction is best read together with Chapter 2 of <i>"Humanities Data in R</i> (Springer, 2015).</p>

<h2>Basic Calculations in Python</h2>

<p>Computer code, at its most basic, calculates. You can think of this course and everything that follows as expanding the uses of a calculator, even the most basic. For instance:</p>

In [12]:
2+2

4

Typically, in Python you'd use the command "print" to have stuff appear on your screen. It is also more precise, as it gives the computer the exact command to process. 
For instance, if you add a line of computations above, Python will only render the last line - but if you insert two "print" statement, one after the other, both will render.
"print" is a <em>command</em>. Like most commands, it requires some <em>parameters</em>, that are indicated within brackets. Eg.

In [6]:
print(2+2)
print(2*3)

4
6

We will come back to commands a bit later. Before that, we need to discuss <em>variables</em>, which are objects in which you store information.
Variables are typically written in lower caps; the way to you assign data to a variable is with a "=" sign, as follows. You can then use variables directly in functions (such as print), or do operations between them.
What do you think will print if we press Run ?

In [13]:
my_var = 1
my_var2 = 2
my_var3 = 2*3
print(my_var + my_var2 + my_var3)

9

Now, variables need not be numbers. They can also be text, which in Python is typically known as a <em>string</em>. 
Likewise, you can make operations with them, such as collating two strings.

In [11]:
text_var = "Hello World"
text_var2 = "What a Nice Day !"
print(text_var + text_var2)

Hello WorldWhat a Nice Day !

Do note that the print command does exactly what you ask it to do: it did not insert a space between the two strings here, it's for you to think of this kind of details.
Another type of variable is a <em>list</em>, which is exactly what you think it is: it lists things, such as data, or even other variables, or even other lists ! Lists are denoted by using brackets and commas. For instance:

In [16]:
my_list = [1, "lorem ipsum", text_var2, ["this is list number", 2]]
print(my_list)

[1, 'lorem ipsum', 'What a Nice Day !', ['this is list number', 2]]

A very important feature of lists is that they are ordered. This means if you know the (numerical) <em>index</em> of an item in a list, you can access it immediately. Here is how you do it (learn it once and for all: indexes start at 0).
You can also select an element of a list by reference to its relative position.
Finally, if you can select the item in a list of list by repeating the exercise.

In [18]:
print(my_list[2])
print(my_list[-2])
print(my_list[3][0])

What a Nice Day !
What a Nice Day !
this is list number

You can also select several elements in a list, by using the ":" operator. For instance

In [29]:
print(my_list[0:2])
print(my_list[2:])
print(my_list[:2])

[1, 'lorem ipsum']
['What a Nice Day !', ['this is list number', 2]]
[1, 'lorem ipsum']

You will note that the third example returns the exact same answer as the first; this is because you often don't need to specify the 0 in a list.

## Functions

Now, coming back to functions, they are what allows you to do operations over data and variables in Python. For this, you need to pass it the expected arguments. For instance:

In [19]:
def my_function(var1, var2):
    return var1 + var2
my_function(1,2)

3

You can create, and you will create your own functions. However, Python is a shared resources, and for most uses someone has already created a function for you, such that you just need to import it. This is the system of packages and librairies that power Python. Here is how you do it:

In [25]:
import pandas as pd

## Syntax

Finally, some basics notions of syntaxes. You write code as you would write anything: sequentially. This means you first define your variables or your functions before using it, or Python won't be able to know what you mean.
An importan

## Dataframes

There are several types of dataframes in Python, but by far the most popular is the Pandas module, which you typically abbreviate as "pd".

In [28]:
from sklearn.datasets import load_iris
iris = load_iris()
# Load iris into a dataframe and set the field names
df = pd.DataFrame(iris['data'], columns=iris['feature_names'])
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2